h1{
    background-color: #8118ad;
    color: pink;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column; /* altera a direção dos itens para vertical */
    justify-content: center;
    align-items: center;
}

.imagem1{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.imagem2{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
  
.imagem3 {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
